@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/Helvetica_Neue_LT_Std-W55_Normal.otf);
}

$turing-blue: #12f1fc;
$turing-yellow: #f9ae06;
$turing-red: #ef3852;
$roboto: 'Roboto Slab', serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  color: #4C4D4F;
}

.header {
  padding: 10px 20px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin: 20px;
}

.logo {
  width: 100px;
}

.landing {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.turing-logo {
  width: 250px;
}

.calendar {
  width: 30px;
}

.link-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-right: 20px;
  color: #4C4D4F;
}

span {
  margin: 0 10px;
}

a {
  color: black;
  text-decoration:none;
}

.home {
  margin: 40px;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px auto;
  height: 90%;
}

.left-section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 25%;
  margin: 100px auto;
  text-align: center;
}

.right-section {
  width: 75%;
}

.feedback-container {
  min-height: 300px;
  margin: 20px;
  padding: 0 20px 20px 20px;
  border: 2px solid grey;
  border-radius: 15px;
}

.notes-container {
  min-height: 300px;
  margin: 20px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 15px;
}

.rotating {
  width: 150px;
  transition: transform 3s ease-in-out;
}
.rotating:hover {
  transform: rotateZ(360deg);
}

footer {
  margin: 30px auto;
  text-align: center;
  font-size: 1.5rem;
}

.greeting {
  margin: 0 40px;
  font-size: 1.2rem;
}
