$turing-blue: #12f1fc;
$turing-yellow: #f9ae06;
$turing-red: #ef3852;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: $turing-blue;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin: 20px;
}

.logo {
  width: 100px;
}

.calendar {
  width: 30px;
}

.link-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-right: 20px;
  color: #4C4D4F;
}

span {
  margin: 0 10px;
}

a {
  margin: 0 20px;
  text-decoration: none;

}
