@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/Helvetica_Neue_LT_Std-W55_Normal.otf);
}

$turing-blue: #12f1fc;
$turing-yellow: #f9ae06;
$turing-red: #ef3852;
$roboto: 'Roboto Slab', serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  color: #4C4D4F;
  margin: 10px 40px;
}

a {
  text-decoration:none;
}

.s-h2 {
  color: #4C4D4F;
}

// *** Header *** //
.header {
  padding: 10px 20px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.greeting {
  margin: 0 40px;
}

.logo-container {
  margin: 20px;
}

.logo {
  width: 100px;
}

.rotating {
  transition: transform 3s ease-in-out;
}
.rotating:hover {
  transform: rotateZ(360deg);
}

.calendar {
  width: 30px;
}


.link-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-right: 0;
}

.date,
.name {
  font-size: 2rem;
  padding: 0 20px;
  color: #4C4D4F;
}

// *** Main *** //
.landing {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px auto;
  height: 90vh;
}

.turing-logo {
  width: 250px;
}

.left-section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 25%;
  height: 40%;
  margin: 30px auto;
  text-align: center;
}

.right-section {
  width: 75%;
  margin-right: 40px;
}

// *** Module Navigation *** //
.router-link-active .s-button {
  background: #036575;
  //color: var(--s-color-cyan-400);
  color: #12F1FC !important;
}


// *** Student Feedback *** //
.feedback-container {
  min-height: 300px;
  margin: 20px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 15px;

  &__category {
    margin-top: 15px;

    &--label {
      display: inline;
      color: #4C4D4F;
    }

    &--comments {
      margin-left: 20px;
      //font-size: 1.3em;
    }
  }

  &__dividing-line {
    margin-top: 20px;
  }
}

.s-text-body {
  font-size: 1.6em;
}

.mod-title {
  background: darkcyan;
  color: white;
  padding-top: 5px;
  width: 150px;
  height: 30px;
}

.progress-bar {
  display: inline-block;
  width: 100px;
  height: 28px;
  border-radius: 800px;
  background-color: var(--s-color-yellow-500);
  margin-left: 20px;
  padding-left: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}
 
.progress-bar__score-wrapper {
  margin-left: auto;
  width: 40px;
  background-color: white;
  border: 2px solid var(--s-color-yellow-500);
  border-radius: 800px;
}

.progress-bar__score-wrapper--number {
  text-align: center;
  line-height: 24px;
  font-size: var(--s-font-size-md);
  font-weight: var(--s-font-weight-bold);
}

#bar-average {
  background-color: var(--s-color-cyan-400);
}

// *** Project Navigation *** //
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.project-tab {
  width: auto;
}

.project-tab:hover {
  border-bottom: 5px solid $turing-blue;
}

.project {
  padding: 10px;
  text-align: center;
  border: 5px solid transparent;
  width: auto;
  transition: border-color 0.3s;
}

.project-btn {
  border: none;
  background: white;
  font-family: $roboto;
  font-size: 1.5rem;
  cursor: pointer;
}

.router-link-active .project-tab {
  width: auto;
  border-bottom: 5px solid $turing-blue;
}

// *** Student Notes *** //
.notes-container {
  min-height: 300px;
  margin-top: 40px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 15px;
}

.form-container {

  &__item {
    margin: 15px;
    padding: 0 40px;

    &--note,
    &--buttons {
      margin: 15px;
    }

    &--buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.show,
.add,
.reset {
  border-radius: 50px;
  //background: #4C4D4F;
  font-weight: 600;
  width: 200px;
  text-transform: uppercase;
}

.show {
  padding: 10px;
}

.current-notes {
  padding: 15px;
}

footer {
  //position: fixed;
  //left: 0;
  //bottom: 0;
  width: 100%;
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.greeting {
  margin: 0 40px;
  font-size: 1.2rem;
}

.login,
.signup {
  min-height: 300px;
  margin: 20px;
  padding: 0 20px 20px 20px;
  border-radius: 15px;
}

.login-container,
.signup-container {
  display: flex;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  padding: 10px;
  font-size: 1.5rem;
}

.control {
  align-self: center;
}

.input {
  padding: 8px 10px 2px;
  width: 400px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: var(--s-font-weight-light);
}

.submit-btn,
.cancel-btn {
  margin: 10px;
}
